{block content}
    <h1 n:block="title">Akce</h1>

	<div class="post" n:foreach="$posts as $post">

		<h2><a n:href="Post:show $post->id">{$post->title}</a></h2>

		<div>{$post->text}</div>
	</div>

{/block}